@media (min-width:1200px) {
    #textAreaForTyperacer {
        font-size: 30px;
    }
    #textAreaForArticle {
        background-color: darkred;
        color: black;
        opacity: 0.9;
        font-size: 30px;
    }
}
@media (min-width:650px) {
    #textAreaForTyperacer {
        font-size: 35px;
    }
    #textAreaForArticle {
        background-color: darkred;
        color: black;
        opacity: 0.9;
        font-size: 25px;
    }
}

@media (max-width:650px) {
    #textAreaForTyperacer {
        font-size: 25px;
    }
    #textAreaForArticle {
        background-color: darkred;
        color: black;
        opacity: 0.9;
        font-size: 15px;
    }
}
.backgroundDefaultFullscreen {
    width: 100%;
    height: 100vh;
}
div#pozadieHlavnaStranka {
    background: url("https://wallpaperaccess.com/full/2126190.png");
    background-repeat: no-repeat;
    background-size: cover;
}
div#pozadieLogin {
    background: url("https://images.unsplash.com/photo-1612198188060-c7c2a3b66eae?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FtaW5nJTIwa2V5Ym9hcmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

div#pozadieLeaderboard {
    background: url("https://img.freepik.com/free-photo/close-up-spiral-notepad-coffee-cup-earphone-keyboard-gray-background_23-2148052615.jpg?size=626&ext=jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
div#pozadieForums {
    background: url("https://hdwallsource.com/img/2014/8/keyboard-wallpaper-hd-38999-39895-hd-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div#pozadieRegister {
    background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25705add-4207-4dea-9d32-07e250e0abf1/di0dq0-42050a0c-4ddc-4b83-836d-8885fb9ee892.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1NzA1YWRkLTQyMDctNGRlYS05ZDMyLTA3ZTI1MGUwYWJmMVwvZGkwZHEwLTQyMDUwYTBjLTRkZGMtNGI4My04MzZkLTg4ODVmYjllZTg5Mi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.WAV8UcbVOv8C7-zZFrvPRYNIrdL2F9hh57ZV2s09RIY");
    background-repeat: no-repeat;
    background-size: cover;


}
div#pozadieSettings {
    background: url("https://wallpapercave.com/wp/wp4947485.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.mb-3 label {
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.mb label {
    font-size: 15px;
    color: red;
    font-weight: bold;
}
.mb-3 {
    font-size: 20px;
}
th:first-child {
    color:red;
}
tbody tr:first-child {
    background-color: gold;
}
tbody tr:nth-child(2) {
    background-color: silver;
}
tbody tr:nth-child(3) {
    background-color: #cd7f32;
}

#textMainPage {
    font-weight: bold;
    color: sienna;
    font-size: 30px;
    background: lightblue;
    opacity: 0.9;
}

footer {
    background: lightblue;
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: -80px;

}








